

.ractive-paginator

    .footer
        margin-top 5px
        width 100%

    .pagination
        float right
        user-select none

        .disabled
            opacity 0.15
            cursor default
            user-select none

        a
            display inline-block
            cursor pointer

    .pages
        a
            width 2em
            text-align center

        a.active
            font-weight bold
            text-decoration underline

